.Btn {
  color: white;
  text-align: center;
  background-color: var(--primary-color);
  border: 1px solid transparent;
  padding: 10px 30px;
  border-radius: 5px;
  text-transform: capitalize;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition-duration: 0.3s;
}

.Btn:hover {
  background-color: var(--primary-color-dark);
  border-color: var(--primary-color-dark);
}

.Btn:disabled {
  opacity: 0.6;
}

.Btn:disabled:hover {
  transform: none;
  box-shadow: none;
  background-color: #305e42;
}
