:root {
  --primary-color: #1351d8;
  --primary-color-light: #f3f6fd;
}

label {
  margin-right: 10px;
}

input {
  margin-right: 10px;
}

button[type="submit"] {
  margin-top: 20px;
}

p {
  font-size: 20px;
}

h1 {
  font-size: 52px;
}
